@use 'enron/animation';
//@use 'enron/elevate' as *;
@use 'enron/filter' as *;
@use 'enron/glyph';
@use 'enron/link-effect';
@use 'enron/typography';
@use 'enron/z-index';

@include animation.bounce_in;
@include animation.fade_in;
@include animation.fade_out;
@include animation.slide_in_right;

body {
    margin: 0;
    height: 100%;
    //@include z-10;
    //@include blur();
    //@include brightness();
    @include typography.body1;
}

h1 {
    //@include elevate-4;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {

    > section {
        margin: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        border: 1px solid black;
        &::before {
            content: attr(data-id);
            font-size: 75%;
            text-transform: uppercase;
        }
        > section {
            background: #eee;
            margin: 1rem 0;
            padding: 1rem;
        }

        &[data-id="animation"] {
            > .animation {
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {
                    content: attr(data-name);
                    text-align: center;
                }
                width: 8rem;
                height: 8rem;
                margin: 1rem;
                background: black;
                color: white;
                animation: 2s infinite;
                &[data-name="bounce_in"] { animation-name: bounce_in; }
                &[data-name="fade_in"] { animation-name: fade_in; }
                &[data-name="fade_out"] { animation-name: fade_out; }
                &[data-name="slide_in_right"] { animation-name: slide_in_right; }
            }
        }
        &[data-id="glyphs"] {
            > ol {
                &::before {
                    content: attr(data-glyph-group);
                }
            }
            [data-glyph="ampersand"]:before { content: glyph.$ampersand; }
            [data-glyph="leftwards-arrow"]:before { content: glyph.$leftwards-arrow; }
            [data-glyph="upwards-arrow"]:before { content: glyph.$upwards-arrow; }
            [data-glyph="rightwards-arrow"]:before { content: glyph.$rightwards-arrow; }
            [data-glyph="downwards-arrow"]:before { content: glyph.$downwards-arrow; }
        }
        &[data-id="filter"] {
            background: red;
        }
       /*  &[data-id="link-effects"] {
            > div {
                padding: 1rem 0;
            }
        } */
    }
}