/* --- ENRON/ANIMATION --- */

@mixin bounce_in {
	@keyframes bounce_in {
		from, 20%, 40%, 60%, 80%, 100% {
			animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		}
		0% {
			opacity: 1;
			transform: scale3d(.3, .3, .3);
		}
		20% {
			transform: scale3d(1.1, 1.1, 1.1);
		}
		40% {
			transform: scale3d(.9, .9, .9);
		}
		60% {
			opacity: 1;
			transform: scale3d(1.03, 1.03, 1.03);
		}
		80% {
			transform: scale3d(.97, .97, .97);
		}
		100% {
			opacity: 1;
			transform: scale3d(1, 1, 1);
		}
	}
}

@mixin fade($from:0, $to: 1) {
    @keyframes fade_in {
        from { opacity: $from; }
        100% { opacity: $to; }
    }
}
@mixin fade_in($from:0, $to: 1) {
    @include fade($from, $to);
}
@mixin fade_out($from:1, $to: 0) {
	@include fade($from, $to);
}

@mixin slide_in_right {
    @keyframes slide_in_right {
        from {
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
}